<%= form_for @post, html: {honeypot: true} do |f| %>

  <% if @post.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label 'What did you hear?' %>
    <%= f.text_area :text, class: 'form-control', rows: 5, placeholder: 'Enter your quote here.' %>
    <br><br>
    <%= f.label 'Which college did you hear this at?' %>
    <%= select_tag :college_name, options_for_select(College.names.zip(College.names)), prompt: 'Select a college' %>
    <br><br>
    <%= f.check_box :school_specific %> Only people at this school will get it
  </div>

  <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>