<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || 'Heard In College | Funny Things Overheard in College' %></title>
  <% if content_for? :head %>
    <%= yield :head %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='navbar'>
    <div id='logo' class='college-font nav-element'><a href=<%=root_url%>>HEARD IN COLLEGE</a></div>
    <div id='post-submit-trigger' class='college-font nav-element'>Submit</div>
    <div class='college-font nav-element'><%= link_to 'Vote', vote_posts_path %></div>
  </div>

  <div id='container'>
    <div class='page-header' id='banner'>
    </div>
    <div id='contents'>
      <%= yield %>
    </div>
    <div id='sidebar'>
      <h3> See quotes by college:</h3>
      <%= render partial: '/layouts/school_select' %>
    </div>
  </div>

  <div id='footer'>
    Copyright <%= Time.zone.now.year %>. Heard In College | <%= link_to 'Terms of Use', terms_url %> |  <%= link_to 'Privacy Policy', privacy_url %>
  </div>

  <div id='submit-modal' tabindex='-1'>
    <div class='modal-header'>
      <h3>Share what you overheard in college</h3>
      <span class='close-modal'>Close</span>
    </div>
    <div class='modal-body'>
      <%= form_for Post.new, url: '/posts', html: {honeypot: true} do |f| %>
        <%= f.label 'What did you hear?' %>
        <%= f.text_area :text, class: 'form-control', rows: 5, placeholder: 'Enter what you overheard here.' %>
        <br>
        <%= f.label 'Which college did you hear this at?' %>
        <%= render partial: '/layouts/school_select' %>
        <br>
        <%= f.check_box :school_specific %> Only people at this college will get it
        <br>
        <%= f.submit 'Submit', id: 'post-submit-btn' %>
      <% end %>
    </div>
  </div>
</body>

<%= yield :deferred_content %>

<script>
  $(document).ready(function(){
    $('body').on('click', '#sidebar .school-name', function () {
      var school = $(this).html().trim();
      school =  encodeURIComponent(school);
      window.location.href = '/colleges/'+school;
    });
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67250562-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
